<%- include('../partials/header') %>

      <h1><%=title%></h1>
      <p>FIVE FUN FACTS ABOUT CROCHETING</p>    
      <p>1. The name means "small hook"</p>    
      <p>2. Crochet saved lives in Ireland</p>    
      <p>3. It has vague origins Clever content goes here</p>
      <p>4. The longest chain is 130 kilometres long!</p>    
      <p>5. It is a healthy pastime</p>    
      <p>Read more about crocheting at https://www.jaarn.co.za/5-facts-about-crocheting-you-didnt-know/</p>    
  
  <img src = "https://idsb.tmgrup.com.tr/ly/uploads/images/2020/07/28/48859.jpg" width="300px" height="300px">

  <%- include('../partials/footer') %>