<%- include('../partials/header') %>

      <h1><%=title%></h1>
      <p>Welcome to my webpage!</p>    
      <p>This is a demo using Node, EJS, and Express.</p>    
      <p>On this webpage, you will find 3 different topics that I am interested in:</p>    
      <p>Plants, Crocheting, and Snowboarding!</p>

  <img src = "https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/38876/woman-good-bye-clipart-md.png" width="300px" height="300px">

  <%- include('../partials/footer') %>