<%- include('../partials/header') %>

      <h1><%=title%></h1>
      <p>FUN FACTS ABOUT PLANTS</p>    
      <p>1. Bamboo is the fastest growing plant on the planet</p>    
      <p>2. Tulips were more valuable than gold in the 1600s</p>    
      <p>3. Over 100 billion bananas are consumed every year</p>
      <p>4. The tallest living plant is the coastal redwood</p>    
      <p>5. Carrots were originally purple</p>    
  <p>Read more about plants at https://crazycrittersinc.com/over-50-amazing-plant-facts/</p>

<img src = "https://www.rd.com/wp-content/uploads/2022/12/guide-to-indoor-plants-GettyImages-1280154297-MLedit.jpg" width="300px" height="300px">
  
  <%- include('../partials/footer') %>