<%- include('../partials/header') %>

      <h1><%=title%></h1>
      <p>FIVE FUN FACTS ABOUT SNOWBOARDING</p>    
      <p>1. Snowboarding was originally dubbed "snurfing"</p>    
      <p>2. Many factors make up the perfect snowboard, such as the length, width, sidecut, flex, and more!</p>    
      <p>3. The US has the most Olympic snowboarding medals</p>
      <p>4. Snowboarding is most popular in 3 countries</p>    
      <p>5. Less than 1% of snowboarders suffer injuries</p>    
<p>Read more about snowboarding at https://www.funfactsabout.com/fun-facts-about-snowboarding/</p>

<img src = "https://media.cnn.com/api/v1/images/stellar/prod/220210090823-01-jeremy-jones-protect-our-winters-c2e-story-card.jpg?q=h_1068,w_1600,x_0,y_0" width="300px" height="300px">
  
  <%- include('../partials/footer') %>